p {
	margin: 0;
	padding: 0;
	display: inline-block;
}

a {
	text-decoration: none;
}

select, input {
	border: none;
	outline: none;
}
/*top模块样式*/
.top {
	line-height: 30px;
	font-size: 13px;
	color: #868686;
}

.top .call {
	float: left;
	padding-left: 20px;
	background: url(../img/icon-call.png) no-repeat center left;
	background-size: 20px;
}

.top .welcome {
	float: right;
}

.top a {
	color: #2da5e1;
	padding-left: 10px;
}

/* header 内部模块 */
.header .logo {
	width: 402px;
	height: 80px;
	paddding: 9px 0;
	display: inline-block;
}

.header .logo img {
	width: 100%;
	height: 100%;
}

.header .search {
	width: 326px;
	height: 38px;
	position: absolute;
	right: 0px;
	top: 29px;
	/* background-color: orange; */
	border-radius: 3px;
}

/* nav 模块内样式 */
.nav .link {
	display: inline-block;
	float: left;
	padding-left: 30px;
	line-height: 36px;
	color: #fff;
	font-size: 16px;
	min-width: 80px;
	text-align: center;
}

.nav a:hover {
	color: #d7f3ff;
}

.nav .menu {
	width: 130px;
	padding-right: 30px;
	background-color: #1fa4f0;
	position: relative;
}

.nav .menu .menu-list {
	background-color: #1fa4f0;
	width: 160px;;
	height: 423px;
	position: absolute;
	left: 0;
	top: 36px;
}

/* banner内模块样式 */
.banner-search {
	background-color: #fafafa;
}

.banner-help .caption, .banner-search .caption {
	height: 22px;
	padding: 15px 0 15px 0;
	text-align: center;
}

.banner-search .caption .text {
	display: inline-black;
	height: 22px;
	line-height: 22px;
	padding-left: 28px;
	color: #fec009;
	font-size: 16px;
	background: url(../img/icon-help.jpg) no-repeat 0 0;
	background-size: 20px;
}

.banner-search .from {
	height: 150px;
}

.banner-search .from .line {
	padding-bottom: 9px;
	text-align: center;
}

.banner-search .from .line select {
	width: 170px;
	font-size: 12px;
	z-index: 0;
	border: 1px solid #dcdddd;
	height: 26px;
	line-height: 26px;
	padding: 2px 0;
	color: #666;
}

.banner-search .submit {
	height: 32px;
	text-align: center;
}

.banner-search .submit .button {
	width: 108px;
	height: 33px;
	background-color: #fecd09;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
}

.banner-help {
	background-color: #fafafa;
}

.banner-help .cantion .text {
	color: #00b3ea;
	background-color: 0 -23px;
}

.banner .banner-help .link {
	color: #00b3ea;
	display: inline-block;
	width: 86px;
	height: 26px;
	line-height: 14px;
	text-align: center;
	padding: 0 0 8px 26px;
}
/* content模块样式 */
.content-news {
	background-color: #ddd;
	border: 1px solid #f4f6fa;
}

.content-close .caption, .content-news .caption {
	height: 38px;
	line-height: 38px;
	background-color: #f3f6fa;
	text-indent: 20px;
	color: #fec009;
	font-size: 15px;
}

.content-close .more, .content-news .more {
	float: right;
	padding-right: 22px;
	font-size: 12px;
	color: #868686;
}

.content-news .list {
	padding: 15px 20px 13px 35px;
	/* line-height: 31px; */
	background: url(../img/list-yellow.png) 8px 10px no-repeat;
	background-size: 28px;
	background-color: #fff;
}

.content-close .list .link, .content-news .list .link {
	display: block;
	height: 33px;
	color: #969696;
}

.content-close {
	background-color: #ddd;
	border: 1px solid #f4f6fa;
}

.content-close .list {
	padding: 15px 20px 13px 35px;
	background: url(../img/list-yellow.png) 8px 10px no-repeat;
	background-size: 28px;
	background-color: #fff;
}

.content-tab {
	background: none;
}

.content-tab .caption {
	height: 34px;
	line-height: 34px;
	background-color: #f5f6fa;
}

.content-tab .caption .item {
	display: block;
	width: 112px;
	height: 34px;
	text-align: center;
	float: left;
	color: #00b3ea;
}

.content-tab .caption .item_focus {
	background-color: #60bff2;
	color: #fff;
}

.content-tab .block {
	border: 1px solid #f4f6fa;
	height: 452px;
}

.content-tab .block-caption {
	height: 26px;
	line-height: 26px; padding : 8px;
	border-bottom: 1px solid #f4f6fa;
	padding: 8px;
}

.content-tab .block-caption-item {
	display: block;
	padding: 0 10px 0 10px;
	font-size: 12px;
	color: #4c4948;
	float: left;
}

.content-tab .block-caption-item_focus {
	background-color: #60bff2;
	color: #fff;
}

.content-tab .block-content {
	padding: 16px 12px;
}

.content-tab .block-content .block-more {
	display: block;
	line-height: 55px;
	text-align: center;
	color: #5084c4;
	font-size: 14px;
}
/* 医院的列表容器*/
.content-tab .block-content .block-list{
	
}
.content-tab .block-content .block-list .block-list-item{
	float: left;
	width: 216px;
	height: 102px;
	padding: 0 20px 0 120px;
	position: relative;
	font-size: 12px;
}
.content-tab .block-content .block-list .block-list-item img{
	width: 110px;
	height: 98px;
	position: absolute;
	left: 0;
	top: 0;
}
.content-tab .block-content .block-list .block-list-item-name{
	color: #036ed7;
	font-size: 14px;
	line-height: 21px;
	padding-top: 13px;
}
.content-tab .block-content .block-list .block-list-item-level{
	float: right;
	font-size: 12px;
	color: #979797;
}
.content-tab .block-content .block-list .block-list-item-phone,
.content-tab .block-content .block-list .block-list-item-address{
	line-height: 18px;
	padding-bottom: 4px;
	color: #666;
}
/* 医院文案列表容器 */
.content-tab .block-content .block-text-list{
	
}
.content-tab .block-content .block-text-list .block-text-list-item{
	display: block;
	width: 351px;
	height: 27px;
	font-size: 14px;
	color: #666;
	padding-top: 8px;
	float: left;
	border-bottom: 1px dashed #dcdddd;
}
.content-tab .block-content .block-text-list .block-text-list-item:nth-child(2n){
	margin-left: 13px;
}

.footer{
	line-height: 70px;
	text-align: center;
	font-size: 12px;
	background-color: #ccc;
}